Repository wearejust/sonata-theme-bundle, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceesvanegmond, @johnhout, @emroni, @rutgerkooijman

.github/CODEOWNERS:

*       @ceesvanegmond @johnhout
*.js    @emroni
*.scss  @rutgerkooijman
*.css   @rutgerkooijman

Feature: Add custom remove-dialog template from backend
  Controller/TemplateController.php
  Resources/config/routing.yml
  Resources/translations/wearejust-templates.nl.yml
  Resources/views/Wearejust/AJAX/delete-dialog.html.twig
Owners: @ceesvanegmond, @johnhout

Feature: Update readme with new controller settings
  README.md
Owners: @ceesvanegmond, @johnhout

Feature: Remove html from JS to Backend
  Resources/public/javascript/app.bundle.js
  Resources/public/javascript/app.bundle.js.map
  Resources/public/javascript/forms.js
Owners: @emroni, @ceesvanegmond, @johnhout

Feature: First try to integrate webpack in bundle
  .gitignore
  package.json
  webpack.config.js
  yarn.lock
Owners: @ceesvanegmond, @johnhout, @emroni

Chore: Some extra refactor points for the cropper
  Resources/public/javascript/app.bundle.js
  Resources/public/javascript/app.bundle.js.map
  Resources/public/javascript/cropper.js
Owners: @emroni, @ceesvanegmond, @johnhout

Chore: Remove the save trigger after cropping an image
  Resources/public/javascript/app.bundle.js
  Resources/public/javascript/app.bundle.js.map
  Resources/public/javascript/app.js
  Resources/public/javascript/cropper.js
Owners: @emroni, @ceesvanegmond, @johnhout

Bugfix: Add the js-sortable class to the list of elements that shouldn’t trigger an anchor
  Resources/public/javascript/app.bundle.js
  Resources/public/javascript/app.bundle.js.map
  Resources/public/javascript/theme.js
Owners: @emroni, @ceesvanegmond, @johnhout

Bugfix: Add the js-sortable-move class to the right list of items that shouldn’t trigger the anchors
  Resources/public/javascript/app.bundle.js
  Resources/public/javascript/app.bundle.js.map
  Resources/public/javascript/theme.js
Owners: @emroni, @ceesvanegmond, @johnhout

Bugfix: Revert "chore: refactors the code, also makes ctrl/cmd click work"
  Resources/public/javascript/app.bundle.js
  Resources/public/javascript/app.bundle.js.map
  Resources/public/javascript/theme.js
Owners: @emroni, @ceesvanegmond, @johnhout

Bugfix: Don't go to link while dragging sortable
  Resources/public/javascript/app.bundle.js
  Resources/public/javascript/app.bundle.js.map
  Resources/public/javascript/theme.js
Owners: @emroni, @ceesvanegmond, @johnhout

Feature: Better WebPack config
  Resources/public/css/theme.css
  Resources/public/css/theme.css.map
  Resources/public/css/theme_uit.css
  Resources/public/css/theme_uit.css.map
  Resources/public/javascript/app.bundle.js
  Resources/public/javascript/app.bundle.js.map
  gulpfile.js
  package.json
  webpack.config.js
  yarn.lock
Owners: @rutgerkooijman, @ceesvanegmond, @johnhout, @emroni

Feature: Add build folder but ignore all in it
  .gitignore
  Resources/public/build/.gitignore
Owners: @ceesvanegmond, @johnhout

Chore: Update README
  README.md
Owners: @ceesvanegmond, @johnhout

Feature: Add new path to build
  Resources/config/theme.yml
Owners: @ceesvanegmond, @johnhout

Feature: Add versioning with webpack and manifest.json
  Resources/views/standard_layout.html.twig
  package.json
  webpack.config.js
  yarn.lock
Owners: @ceesvanegmond, @johnhout, @emroni

Chore: Add stuff to README on how to use in combinatio with manifest.json
  README.md
Owners: @ceesvanegmond, @johnhout

Feature: Update package.json to standards
  package.json
Owners: @ceesvanegmond, @johnhout

Feature: Add production mode
  package.json
  webpack.config.js
Owners: @ceesvanegmond, @johnhout, @emroni

Update composer.json
  composer.json
Owners: @ceesvanegmond, @johnhout

Feature: Add Upgrade guide
  UPGRADE-2.0.md
  composer.json
Owners: @ceesvanegmond, @johnhout

Chore: Add filenames to upgrade guide
  UPGRADE-2.0.md
Owners: @ceesvanegmond, @johnhout

Update UPGRADE-2.0.md
  UPGRADE-2.0.md
Owners: @ceesvanegmond, @johnhout

Update UPGRADE-2.0.md
  UPGRADE-2.0.md
Owners: @ceesvanegmond, @johnhout

Update UPGRADE-2.0.md
  UPGRADE-2.0.md
Owners: @ceesvanegmond, @johnhout

Update README.md
  README.md
Owners: @ceesvanegmond, @johnhout

Update composer.json
  composer.json
Owners: @ceesvanegmond, @johnhout

Update UPGRADE-2.0.md
  UPGRADE-2.0.md
Owners: @ceesvanegmond, @johnhout

Update UPGRADE-2.0.md
  UPGRADE-2.0.md
Owners: @ceesvanegmond, @johnhout

Update README.md
  README.md
Owners: @ceesvanegmond, @johnhout

Chore: better alignments for table checkbox
  Resources/public/css/theme.css
  Resources/public/css/theme.css.map
  Resources/public/scss/_table.scss
Owners: @rutgerkooijman, @ceesvanegmond, @johnhout

Refactor: Change root namespace
  Controller/TemplateController.php
  DependencyInjection/Configuration.php
  DependencyInjection/JustSonataThemeExtension.php
  JustSonataThemeBundle.php
  LICENSE
  README.md
  Resources/config/routing.yml
  Resources/config/theme.yml
  Resources/views/Pager/results.html.twig
  UPGRADE-2.0.md
  composer.json
  webpack.config.js
Owners: @ceesvanegmond, @johnhout, @emroni

Chore: Rename files to match classname
  DependencyInjection/WearejustSonataThemeExtension.php
  WearejustSonataThemeBundle.php
Owners: @ceesvanegmond, @johnhout

Chore: Re-factor the sticky add button
  Resources/public/javascript/app.bundle.js
  Resources/public/javascript/app.bundle.js.map
  Resources/public/javascript/sticky.js
Owners: @emroni, @ceesvanegmond, @johnhout

Chore: Remove an unnecessary line and standard set the cloneShown var on true
  Resources/public/javascript/app.bundle.js
  Resources/public/javascript/app.bundle.js.map
  Resources/public/javascript/sticky.js
Owners: @emroni, @ceesvanegmond, @johnhout

Chore: Some last cleanups for the sticky button
  Resources/public/javascript/app.bundle.js
  Resources/public/javascript/app.bundle.js.map
  Resources/public/javascript/sticky.js
Owners: @emroni, @ceesvanegmond, @johnhout

Chore: Better docs
  README.md
  UPGRADE-2.0.md
Owners: @ceesvanegmond, @johnhout

Feature: Make the sticky instantly fixed so more buttons are able to stand next to each other
  Resources/public/css/theme.css
  Resources/public/css/theme.css.map
  Resources/public/scss/sticky.scss
Owners: @rutgerkooijman, @ceesvanegmond, @johnhout

Chore: adds an extra line of code to make sure the feature works better
  Resources/public/scss/_table.scss
Owners: @rutgerkooijman

Update README.md
  README.md
Owners: @ceesvanegmond, @johnhout

chore: fixes the issue where the text aligned middle instead of top
  Resources/public/scss/_table.scss
Owners: @rutgerkooijman
