Repository wearejust/sonata-theme-bundle, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceesvanegmond, @johnhout, @emroni, @rutgerkooijman

Chore: removes the 50px margin from the navbar stuck element
  Resources/public/scss/theme.scss
Owners: @rutgerkooijman

Feature: style the table_collection_inline view
  Resources/public/scss/_forms.scss
Owners: @rutgerkooijman

Feature: Move assets to outside public folder
  Resources/assets/images/icons/ic_add_white.svg
  Resources/assets/images/icons/ic_check_white.svg
  Resources/assets/images/icons/ic_close.svg
  Resources/assets/images/icons/ic_close_white.svg
  Resources/assets/images/icons/ic_home.svg
  Resources/assets/images/icons/ic_person.svg
  Resources/assets/images/icons/ic_search.svg
  Resources/assets/javascript/app.js
  Resources/assets/javascript/filters.js
  Resources/assets/javascript/forms.js
  Resources/assets/javascript/multipleactions.js
  Resources/assets/javascript/popup.js
  Resources/assets/javascript/sticky.js
  Resources/assets/javascript/theme.js
  Resources/assets/scss/_alert.scss
  Resources/assets/scss/_box.scss
  Resources/assets/scss/_breadcrumbs.scss
  Resources/assets/scss/_button.scss
  Resources/assets/scss/_cropper.scss
  Resources/assets/scss/_forms.scss
  Resources/assets/scss/_icons_overrides.scss
  Resources/assets/scss/_login.scss
  Resources/assets/scss/_miscplugins.scss
  Resources/assets/scss/_navbar.scss
  Resources/assets/scss/_pagination.scss
  Resources/assets/scss/_table.scss
  Resources/assets/scss/_tabs.scss
  Resources/assets/scss/_variables.scss
  Resources/assets/scss/sticky.scss
  Resources/assets/scss/theme.scss
  Resources/public/images/black.png
  Resources/public/images/icons/ic_add.svg
  Resources/public/images/icons/ic_check.svg
  webpack.config.js
Owners: @ceesvanegmond, @johnhout, @emroni, @rutgerkooijman

Refactor: Replace inline images with svg
  Resources/assets/images/icons/ic_sort.svg
  Resources/assets/scss/_button.scss
  Resources/assets/scss/_forms.scss
Owners: @ceesvanegmond, @johnhout, @rutgerkooijman

Chore: Add badge to README
  README.md
Owners: @ceesvanegmond, @johnhout

Update package.json
  package.json
Owners: @ceesvanegmond, @johnhout

Feature: Create a new image delete dialog
  Resources/assets/javascript/forms.js
  Resources/assets/scss/_box.scss
  Resources/translations/wearejust-templates.nl.yml
  Resources/views/Wearejust/AJAX/delete-dialog.html.twig
Owners: @emroni, @rutgerkooijman, @ceesvanegmond, @johnhout

Chore: Remove unused function from the form deletion feature
  Resources/assets/javascript/forms.js
Owners: @emroni

Feature: Add table layout fixed
  Resources/assets/scss/_table.scss
Owners: @rutgerkooijman

Revert "Feature: Add table layout fixed"
  Resources/assets/scss/_table.scss
Owners: @rutgerkooijman

Bugfix: table row link checkbox fix
  Resources/assets/javascript/multipleactions.js
  Resources/assets/javascript/theme.js
  Resources/assets/scss/_box.scss
  Resources/assets/scss/_forms.scss
Owners: @emroni, @rutgerkooijman

Feature: show action bar only when actions are there
  Resources/assets/scss/_alert.scss
  Resources/views/CRUD/list.html.twig
  Resources/views/Pager/base_results.html.twig
Owners: @rutgerkooijman, @ceesvanegmond, @johnhout

Chore: remove multipleactions js from app
  Resources/assets/javascript/app.js
Owners: @emroni

Feature: tabs styling
  Resources/assets/scss/_alert.scss
  Resources/assets/scss/_forms.scss
  Resources/assets/scss/_navbar.scss
  Resources/assets/scss/_table.scss
Owners: @rutgerkooijman

Feature: search styling
  Resources/assets/javascript/filters.js
  Resources/assets/javascript/sticky.js
  Resources/assets/scss/_button.scss
  Resources/assets/scss/_forms.scss
  Resources/assets/scss/_navbar.scss
  Resources/assets/scss/_table.scss
  Resources/assets/scss/sticky.scss
  Resources/views/CRUD/list.html.twig
  Resources/views/standard_layout.html.twig
Owners: @emroni, @rutgerkooijman, @ceesvanegmond, @johnhout

Feature: bigger fields in search filters
  Resources/assets/scss/_forms.scss
  Resources/assets/scss/_navbar.scss
Owners: @rutgerkooijman

Update _navbar.scss
  Resources/assets/scss/_navbar.scss
Owners: @rutgerkooijman

Revert "Update _navbar.scss"
  Resources/assets/scss/_navbar.scss
Owners: @rutgerkooijman

Chore: Remove commented out lines
  Resources/assets/scss/_navbar.scss
Owners: @rutgerkooijman

Bugfix: Fix the download dropdown to open towards the top
  Resources/assets/scss/_navbar.scss
Owners: @rutgerkooijman

Feature: login styling
  DependencyInjection/WearejustSonataThemeExtension.php
  Resources/assets/javascript/filters.js
  Resources/assets/scss/_base.scss
  Resources/assets/scss/_breadcrumbs.scss
  Resources/assets/scss/_button.scss
  Resources/assets/scss/_edit.scss
  Resources/assets/scss/_filters.scss
  Resources/assets/scss/_layout.scss
  Resources/assets/scss/_login.scss
  Resources/assets/scss/_nav.scss
  Resources/assets/scss/_navbar.scss
  Resources/assets/scss/_utilities.scss
  Resources/assets/scss/_variables.scss
  Resources/assets/scss/theme.scss
  Resources/config/theme.yml
  Resources/views/Button/active.html.twig
  Resources/views/Button/sort.html.twig
  Resources/views/CRUD/edit.html.twig
  Resources/views/CRUD/list.html.twig
  Resources/views/standard_layout.html.twig
Owners: @ceesvanegmond, @johnhout, @emroni, @rutgerkooijman

Bugfix: Also show menu when you can download stuff
  Resources/views/CRUD/list.html.twig
Owners: @ceesvanegmond, @johnhout

Feature: list view edit bar
  Resources/assets/scss/_alert.scss
  Resources/assets/scss/_base.scss
  Resources/assets/scss/_box.scss
  Resources/assets/scss/_button.scss
  Resources/assets/scss/_edit.scss
  Resources/assets/scss/_list.scss
  Resources/assets/scss/_overrides.scss
  Resources/assets/scss/_pagination.scss
  Resources/assets/scss/old/_forms.scss
  Resources/assets/scss/old/_icons_overrides.scss
  Resources/assets/scss/old/_miscplugins.scss
  Resources/assets/scss/old/_tabs.scss
  Resources/assets/scss/old/sticky.scss
  Resources/assets/scss/theme.scss
Owners: @rutgerkooijman

Feature: order submit buttons edit
  Resources/assets/scss/_edit.scss
  Resources/assets/scss/old/_cropper.scss
  Resources/assets/scss/theme.scss
  Resources/views/CRUD/edit.html.twig
Owners: @rutgerkooijman, @ceesvanegmond, @johnhout

Feature: warning color
  Resources/assets/scss/_alert.scss
  Resources/assets/scss/_button.scss
  Resources/assets/scss/_overrides.scss
  Resources/assets/scss/_variables.scss
  Resources/assets/scss/theme.scss
Owners: @rutgerkooijman

Feature: reinstated tabbed nav
  Resources/assets/scss/_button.scss
  Resources/assets/scss/_list.scss
  Resources/assets/scss/_overrides.scss
  Resources/assets/scss/_table.scss
  Resources/assets/scss/_variables.scss
  Resources/assets/scss/theme.scss
  Resources/views/standard_layout.html.twig
Owners: @rutgerkooijman, @ceesvanegmond, @johnhout

Feature: no results styling
  Resources/assets/scss/theme.scss
Owners: @rutgerkooijman

Feature: styled inline table in edit template
  Resources/assets/scss/_button.scss
  Resources/assets/scss/_edit.scss
  Resources/assets/scss/_list.scss
  Resources/assets/scss/_pagination.scss
  Resources/assets/scss/old/_table.scss
Owners: @rutgerkooijman

Feature: user logout
  Resources/assets/scss/theme.scss
  Resources/views/standard_layout.html.twig
Owners: @rutgerkooijman, @ceesvanegmond, @johnhout

Bugfix: foucs style on dd toggle
  Resources/assets/scss/theme.scss
Owners: @rutgerkooijman

Chore: hiding more stuff
  Resources/assets/scss/theme.scss
Owners: @rutgerkooijman

Feature: cropper js scss
  DependencyInjection/WearejustSonataThemeExtension.php
  Resources/assets/javascript/theme.js
  Resources/assets/scss/_button.scss
  Resources/assets/scss/_cropper.scss
  Resources/assets/scss/_delete_modal.scss
  Resources/assets/scss/_edit.scss
  Resources/assets/scss/_tabs.scss
  Resources/assets/scss/theme.scss
  Resources/config/theme.yml
  composer.lock
Owners: @ceesvanegmond, @johnhout, @emroni, @rutgerkooijman

Feature: added small transition
  Resources/assets/scss/_cropper.scss
Owners: @rutgerkooijman

Chore: faster transition on delete btn
  Resources/assets/scss/_button.scss
Owners: @rutgerkooijman

Feature: sort arrows before title
  Resources/assets/scss/_alert.scss
  Resources/assets/scss/_list.scss
  Resources/assets/scss/theme.scss
  Resources/views/CRUD/list.html.twig
Owners: @rutgerkooijman, @ceesvanegmond, @johnhout

Feature: ajax submit list, show submit on checked box
  Resources/assets/javascript/popup.js
  Resources/assets/scss/_delete_modal.scss
  Resources/assets/scss/_list.scss
  Resources/views/Button/delete.html.twig
  Resources/views/CRUD/delete.html.twig
  Resources/views/CRUD/list.html.twig
  Resources/views/ajax_layout.html.twig
  Resources/views/standard_layout.html.twig
Owners: @emroni, @rutgerkooijman, @ceesvanegmond, @johnhout

Update composer.json
  composer.json
Owners: @ceesvanegmond, @johnhout

Chore: Add a gitignore for the vendor folder
  .gitignore
Owners: @ceesvanegmond, @johnhout

Feature: Add new classes for general settings
  Resources/assets/scss/_base.scss
  Resources/assets/scss/_edit.scss
  yarn.lock
Owners: @rutgerkooijman, @ceesvanegmond, @johnhout

Chore: Change the padding of the file input
  Resources/assets/scss/_cropper.scss
Owners: @rutgerkooijman

.github/CODEOWNERS:

*       @ceesvanegmond @johnhout
*.js    @emroni
*.scss  @rutgerkooijman
*.css   @rutgerkooijman
