Repository wearejust/sonata-theme-bundle, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ceesvanegmond, @johnhout, @emroni, @rutgerkooijman

.github/CODEOWNERS:

*       @ceesvanegmond @johnhout
*.js    @emroni
*.scss  @rutgerkooijman
*.css   @rutgerkooijman

Feature: Change position of the breadcrumb nav and logo
  Resources/assets/scss/_layout.scss
  Resources/assets/scss/_nav.scss
  Resources/views/standard_layout.html.twig
Owners: @rutgerkooijman, @ceesvanegmond, @johnhout

Chore: restyle breadcrumb
  Resources/assets/images/icons/ic_home.svg
  Resources/assets/scss/_breadcrumbs.scss
Owners: @ceesvanegmond, @johnhout, @rutgerkooijman

Feature: Container and title styling
  Resources/assets/scss/_edit.scss
  Resources/assets/scss/_nav.scss
  Resources/assets/scss/_tabs.scss
  Resources/assets/scss/_utilities.scss
  Resources/views/standard_layout.html.twig
Owners: @rutgerkooijman, @ceesvanegmond, @johnhout

Feature: Add new edit template for general content
  .gitignore
  Resources/views/CRUD/edit-general.html.twig
  Resources/views/standard_layout.html.twig
Owners: @ceesvanegmond, @johnhout

Chore: Remove the button create and create a new one
  Resources/views/CRUD/edit.html.twig
Owners: @ceesvanegmond, @johnhout

Chore: Remove the button order
  Resources/assets/scss/_edit.scss
Owners: @rutgerkooijman

Chore: restyle delete dialog close btw
  Resources/assets/scss/_delete_modal.scss
Owners: @rutgerkooijman

Feature: Fix the download button
  Resources/assets/scss/_dropdown.scss
  Resources/assets/scss/_list.scss
  Resources/assets/scss/theme.scss
  Resources/views/CRUD/list.html.twig
Owners: @rutgerkooijman, @ceesvanegmond, @johnhout

Chore: Fix the dropdown sizes
  Resources/assets/scss/_overrides.scss
Owners: @rutgerkooijman

Chore: Add margin on the bottom of tabs
  Resources/assets/scss/_tabs.scss
Owners: @rutgerkooijman

Chore: Change container width and offset on md screens so the delete button won’t get chopped
  Resources/assets/scss/_layout.scss
Owners: @rutgerkooijman

Feature: Make the white container min height 100vh
  Resources/assets/scss/_edit.scss
  Resources/assets/scss/_layout.scss
  Resources/views/standard_layout.html.twig
Owners: @rutgerkooijman, @ceesvanegmond, @johnhout

Chore: Turn off slimScroll and admin-ltd javascript to prevent errors
  Resources/config/theme.yml
Owners: @ceesvanegmond, @johnhout

Chore: Change the sticky JS to work without cloning
  Resources/assets/javascript/sticky.js
Owners: @emroni

Chore: Remove unused var
  Resources/assets/javascript/sticky.js
Owners: @emroni

Chore: Change the resize of element css object
  Resources/assets/javascript/sticky.js
Owners: @emroni

Chore: Add the slim scroll and admin lte back in the theme.yml as some javascript stopped working (Like the menu)
  Resources/config/theme.yml
Owners: @ceesvanegmond, @johnhout

Bugfix: Or check instead fo and
  Resources/views/CRUD/list.html.twig
Owners: @ceesvanegmond, @johnhout

Feature: File remove styling and javascript functionality for better usabilty
  Resources/assets/javascript/forms.js
  Resources/assets/scss/_forms.scss
  Resources/translations/wearejust-templates.nl.yml
  yarn.lock
Owners: @emroni, @rutgerkooijman, @ceesvanegmond, @johnhout

Feature: Make a difference between normal dropdowns and filters
  Resources/assets/javascript/filters.js
  Resources/assets/scss/_navbar.scss
Owners: @emroni, @rutgerkooijman

Feature: Be compatible to Symfony4.2 by adapt to the convention
  Resources/config/theme.yml
  Resources/views/CRUD/edit.html.twig
  Resources/views/CRUD/list.html.twig
  Resources/views/Pager/results.html.twig
  Resources/views/standard_layout.html.twig
Owners: @ceesvanegmond, @johnhout

Update list.html.twig
  Resources/views/CRUD/list.html.twig
Owners: @ceesvanegmond, @johnhout

Feature: Release 3.0 with build in build
  Resources/public/build/.gitignore
  Resources/public/build/app.21ab7e84ea89f8703bf9.css
  Resources/public/build/app.21ab7e84ea89f8703bf9.css.map
  Resources/public/build/app.21ab7e84ea89f8703bf9.js
  Resources/public/build/app.21ab7e84ea89f8703bf9.js.map
  Resources/public/build/ic_add_white.00c72def1f3c7b0006c041538bde699f.svg
  Resources/public/build/ic_check_white.1976a9ca93c416d2367fc3b9ff2f1b88.svg
  Resources/public/build/ic_close.522d0a66819abfbfa6a98abfc239e682.svg
  Resources/public/build/ic_close_white.c03caba19ea5f3ec2bc7395b2462e96f.svg
  Resources/public/build/ic_home.c0b490adc57ad3ee01025deff6f028d1.svg
  Resources/public/build/ic_person.c403a8ee892498dab4a24510ff3c199b.svg
  Resources/public/build/ic_search.8a0c8c4e90d8ac7681629b333225fc86.svg
  Resources/public/build/ic_sort.ecbfdf4ad72128933b525dc9e4db3693.svg
  Resources/public/build/manifest.json
  UPGRADE-3.0.md
Owners: @ceesvanegmond, @johnhout, @rutgerkooijman, @emroni
